/* Form container */
.book-form-container {
  display: flex;
  justify-content: center;
}

form {
  max-width: 22rem;
  padding: 0 2rem;
}

@media screen and (min-width: 900px) {
  form {
    max-width: 30rem;
  }
}

/* Search form */
@media screen and (min-width: 768px) {
  .form-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
}

/* Form inputs */
.form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form label {
  font-size: 1.1rem;
  margin-bottom: 0.15rem;
  font-family: var(--third-font);
}

.form input,
.form select,
.form textarea,
.coverImage {
  height: 2rem;
  border-radius: 0.3rem;
  padding: 0 1rem;
  background-color: #23232227;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  border: 1px solid orange;
  box-shadow: 1px 1px 2px rgb(61, 70, 70);
}

.form textarea {
  height: 100%;
  resize: none;
}

.input-year::-webkit-outer-spin-button,
.input-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.coverImage {
  padding-top: 0.2rem;
  cursor: pointer;
  color: wheat;
}

.coverImage span {
  font-size: 1.3rem;
}

.coverImageInput {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.coverImage:hover{
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
  transform: scale(1.02);
}

.selectedFile {
  font-size: .8rem;
  color: black;
  font-family: var(--third-font);
  height: auto;
  padding-bottom: 0.2rem;
}

.selectedFile:hover {
  outline: none;
  transform: none;
}

.previewImage img {
  width: 5rem;
}

/* Delete book form */
.deleteForm {
  padding: 0;
}

/* Delete author form - modal*/
.delete-form-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.delete-form {
  background-color: rgba(172, 255, 47, 0.124);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 1px greenyellow;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.confirm {
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

/* Search Book Button */
.search-book {
  display: flex;
  justify-content: flex-end;
  max-width: 22rem;
}

